################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/CustomerApplication/.vs/CustomerApplication/v16/Server/sqlite3
